<%- include('./partials/header'); %>

<h1> about </h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum aspernatur voluptas suscipit laborum maiores debitis tempora dignissimos nemo rem veniam! Consectetur quibusdam quisquam error quasi tenetur facilis exercitationem, facere modi repellendus ex minima porro ipsam inventore delectus numquam nam cupiditate possimus, asperiores unde? Officiis, fugit? Quasi et corporis sequi, delectus atque saepe perferendis doloribus adipisci quisquam hic laborum corrupti voluptatum ad eius blanditiis quos, iusto dolores natus rem quas. Dolores ratione a labore perferendis voluptatibus voluptate, unde delectus beatae et sint iusto ipsa aspernatur accusamus sequi ex eligendi autem incidunt nostrum sed. Voluptatem labore enim, molestias quasi cumque sint quos!</p>


<%- include('./partials/footer'); %>